@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;

  color: #333;
  -webkit-font-smoothing: antialiased;
  background-color: #fefdfb;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: .2s;
  background: #fff;
}

header {
  margin-bottom: 60px;
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #42403e
}

header .logo img {
  height: 30px;
}

#nav-main {
  text-align: center;
  margin: 0 auto;
}

header nav a {
  margin: 0 5px;
  padding: 2px 5px 10px;
  color: #fff;
  font-size: 35px;
  position: relative;
  text-decoration: none;
  transition: .2s;
}

#nav-main a:after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  transition: .2s;
  background-color: transparent;
}

#nav-main a:hover:after,
#nav-main a.active:after {
  width: 100%;
  background-color: #ff9419;
}

.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-actions a {
  font-size: 28px;
  padding: 0;
}

.user-actions .icon-alarm {
  opacity: 0.5;
  transition: .2s;
}

.user-actions .icon-alarm:hover {
  opacity: 1;
}

.user-actions .icon-my-profile {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: .2s;
}

.icon-my-profile:hover {
  border-color: #fff;;
}

.icon-my-profile:before {
  position: relative;
  top: 0;
}

.container {
  padding: 0 30px;
}

.page-title {
  font-size: 22px;
  margin-bottom: 30px;
  color: #f19333
}

.pagination {
  margin: 30px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #333;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.pagination li:hover {
  background: #ddd;
}

.pagination li.active {
  color: #fff;
  font-weight: 700;
  border-color: #f19333;
  background: #f19333;
}

footer {
  width: 100%;
  margin-top: 30px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #f19333;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  font-weight: 400;
}

footer ul {
  margin-bottom: 30px;
  list-style: none;
}

footer li a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
  color: #444;
}


@media (max-width: 991px) {
  header .logo img {
    height: 20px;
  }
  footer {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  header {
    position: relative;
    flex-direction: column;
  }

  header .logo {
    margin: 0 auto 25px 0;
  }

  #nav-main a {
    font-size: 28px;
  }

  .user-actions {
    position: absolute;
    top: 20px;
    right: 15px;
  }

  .user-actions a {
    font-size: 24px;
  }

  .container {
    padding: 0 15px;
  }
}

@media (max-width: 860px) {
  footer {
    flex-wrap: wrap;
    padding: 30px;
  }

  footer .footer--links:last-child {
    width: 100%;
    text-align: center;;
    flex: 1;
  }
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  footer h3,
  footer ul {
    display: none;
  }
}
